body.index{

    background-color: aliceblue;
}
div.index{
    text-align: center;

    background-color: aliceblue;
}
ul.index{
    text-align: center;
    text-blink: true;
    font-size: large;
    list-style-type: none;
}
.column{
    float:left;
    width:25%;
    padding-top: 20px;
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 200px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}
img.index{
    height:200px;
    width:200px;
}
li.menu {
   display: inline;
}
a.gohome {
   color: black;
}
p.error {
   color: red;
}
body.task3 {
   background-color: aliceblue;
}
div.task3{
   text-align: center;
   -webkit-animation-name: blinker;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
  -webkit-animation-duration: 1.7s;
   color: red;
   padding-top: 500px;
}
@-webkit-keyframes blinker {
   from{opacity: 1.0;}
   to{opacity: 0.0;}
}
