li.menu {
   display: inline;
}
a.gohome {
   color: black;
}
p.error {
   color: red;
}
label.login-form{
   color:blue;
}
body.task3 {
   background-color: aliceblue;
}
div.task3{
   text-align: center;
   -webkit-animation-name: blinker;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
  -webkit-animation-duration: 1.7s;
   color: red;
   padding-top: 500px;
}
@-webkit-keyframes blinker {
   from{opacity: 1.0;}
   to{opacity: 0.0;}
}
