li.menu {
   display: inline;
}
a.gohome {
   color: black;
}
p.error {
   color: red;
}
label.login-form{
   color:blue;
}
body.task3 {
   background-color: aliceblue;
}
div.task3{
   text-align: center;
   padding-top: 500px;
}
